:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color:#FAF7F2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  line-height: 2rem;
  min-width: 320px;
  min-height: 100vh;
  background-image:url(C:\Users\ahmet\Desktop\Coding\pizza\fsweb-s7-challenge-pizza\Assets\mile1-assets\home-banner.png);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FDC913;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.Hero{
  width: 30%;
  border-radius: 20px;
}
.landing{
  width: 100%;
  height: 100%;
  font-family: "Barlow";
  text-align: center;
  

}

.Banner{
  background-color: #CE2829;
  background-image: none;
  text-align: center;
  padding: 1rem;
}
.foodInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: #FAF7F2;
  color:#5F5F5F ;
  text-align: left;
  padding-left: 28%;

}

.foodDetail{
  width: 80%;
}
.foodInfo h1{
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}
.price{
  font-weight: bolder;
  color: black;
  font-size: 2rem;
  
}
.rating{
  padding-left: 20rem;
  padding-right: 10rem;
}
.selections{
 display: flex;
 flex-direction: row;
 background-color: #FAF7F2;
}

.radio{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: space-between;
  background-color: #FAF7F2;
  color:#5F5F5F ;
  text-align: left;
  padding-left: 28%;
  row-gap: 1rem;
}
.drop{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  background-color: #FAF7F2;
  color:#5F5F5F ;
  text-align: left;
  padding-left: 25%;
}
.checkboxes{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: space-between;
  background-color: #FAF7F2;
  color:#5F5F5F ;
  text-align: left;
  padding-left: 28%;
  padding-bottom: 2rem;
}
.checkbox{
  row-gap: 1rem;
  width: 21%;
  height: 10%;
}
.bold{
  font-weight: bolder;
  color: black;
}
.input{
  display: flex;
  flex-direction: column;
  background-color: #FAF7F2;
  color:#5F5F5F ;
  text-align: left;
  padding-left: 28%;
  row-gap: 2rem;
}

.counter{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FAF7F2;
  color:#5F5F5F ;
  text-align: left;
  padding-left: 28%;
}
.counter p{
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: flex-start;
}

.priceS{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: space-between;
  background-color: #FAF7F2;
  color:#5F5F5F ;
  text-align: left;
  padding-left: 28%;
}
.price h3{
  font-size: 1.3rem;
  color: black;
}
.price p{
  font-size: 1.3rem;
  color: black;
}
.summary{
  display: flex;
  flex-direction: row;
  background-color: #FAF7F2;
  color:#5F5F5F ;
}
.siparisAlındı{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.tebrikler{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
